@model SortedModel

@{
    ViewData["Title"] = "Sorted";

}

<style>

    .flex-column {
        float: left;
        width: 25%;
        padding: 20px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #borderimg {
        border: 1px solid black;
        padding: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Performance results</h1>
</div>

</br>

<div class="row">

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Evaluated materials</h5>
                <p class="card-text" style="color:blue; font-size:30px">1350000</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Approved</h5>
                <p class="card-text" style="color:blue; font-size:30px">24</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total calculations</h5>
                <p class="card-text" style="color:blue; font-size:30px">490214</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No. of best option</h5>
                <p class="card-text" style="color:blue; font-size:30px">12</p>
            </div>
        </div>
    </div>

</div>

</br>

<div>
    <div style="border: 1px solid #000; height: 150px; width: 100%; margin-top:5%; overflow:auto;">
    <table style="height:150px;">

        <thead>

            <tr>

                <th>Material name</th>
                <th>Total volume</th>
                <th>Cell length A</th>
                <th>Cell length B</th>
                <th>Cell length C</th>
                    <th>Total volume</th>
                    <th>Cell length A</th>
                    <th>Cell length B</th>
                    <th>Cell length C</th>
                    <th>Total volume</th>
                    <th>Cell length A</th>
                    <th>Cell length B</th>
                    <th>Cell length C</th>

            </tr>

        </thead>

        <tbody style="height: 120px">

            @foreach (var item in Model.TopVolumeMaterials)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item._chemical_formula_moiety</td>
                    <td>@item._symmetry_cell_setting</td>
                    <td>@item._symmetry_space_group_name_H_M</td>
                    <td>@item._symmetry_Int_Tables_number</td>
                    <td>@item._space_group_name_Hall</td>
                    <td>@item._cell_length_a</td>
                    <td>@item._cell_length_b</td>
                    <td>@item._cell_length_c</td>
                    <td>@item._cell_angle_alpha</td>
                    <td>@item._cell_angle_beta</td>
                    <td>@item._cell_angle_gamma</td>
                    <td>@item._cell_volume</td>

                </tr>
            }

        </tbody>

    </table>

    </div>
    <div style="float:left; width: 100%; padding: 10px">
        <a id="amountOfMaterialsLink" href="/Home/Dashboard/10">
            <input type="button" class="btn btn-primary" value="Show amount of materials:" />
        </a>
        <input type="text" id="amountOfMaterialsInputField" value="@Model.AmountOfMaterials" onchange="AmountOfMaterialsInput()" />

    </div>
</div>

<script src="~/ts-compiled/inputs.js"></script>
